<!DOCTYPE html>
<html>
	<center>
		<head>
            <h1 style="font-weight: bold;">Student ID: 1001625797</h1><br>
        	<h1 style="font-weight: bold;">Name: Dandane, Chaitanya</h1>
			<hr>
		</head>
		<body>
			<h1>Select an option below:</h1>
			<div>
				<form action="/kmeans" method="POST">
				    Enter a att1: <input type="text" name="col1">
				    Enter a att2: <input type="text" name="col2">
				    Enter number of clusters: <input type="text" name="clusters">
				    <input type="submit" value="Search">
				</form>
			</div><br>
			<!-- <div>	
				<a href="/list_normal">Time to execute 1000 quries without redis</a>
			</div><br>
			<div>	
				<a href="/list_redis">Time to execute 1000 quries with redis</a>
			</div><br>
			<div>
				<form action="/normal_place" method="POST">
				    Enter state: <input type="text" name="place">
				    <input type="submit" value="Search">
				</form>
			</div><br>
			<div>	
				<a href="/list">Eartquake's Cluster</a>
			</div><br>	
			<div>	
				<a href="/list_lat">Lat_Long</a>
			</div> -->
		</body>
	</center>	
</html>